footer {
  background: #5362a7;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;

    h3 {
      font-size: 1.4em;
      margin: 20px 0px;
    }

    .list {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-gap: 10px;

      li {
        font-size: 1em;
        margin: 15px 0px;
        white-space: nowrap;

        a {
          color: rgb(175, 179, 194);

          &:hover {
            color: rgb(97, 169, 246);
          }
        }
      }
    }

    .contact {

      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 20px;
      }

      .social-icon {
        height: 30px;
        width: 30px;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
}
