@import "menu";
@import "banner";
@import "home";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// UTILITIES

body {
  font-family: Arial;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.color-primary {
  color: #589ce8;
}

.font-bold {
  font-weight: bold;
}

.mt-100 {
  margin-top: 100px;
}

.ways-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    min-width: fit-content;
    padding: 15px 40px;
    border-radius: 30px;
    border: 1px solid rgb(97, 169, 246);
    transition: all 0.2s ease 0s;
    color: rgb(88, 156, 232);
    outline: none !important;
    margin-right: 20px;
    margin-top: 45px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px,
        rgba(0, 0, 0, 0.3) 0px 2px 4px -1px;
    }
  }
}

// Access Past Applications Button Background
.btn-bg {
  background: #4798ed !important;
}

