@import "menu";
@import "banner";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// UTILITIES

body {
  font-family: Arial;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.color-primary {
  color: #589ce8;
}

.font-bold {
  font-weight: bold;
}

.mt-100 {
  margin-top: 100px;
}

// BODY SECTION STYLE
#application {
  text-align: center;

  .application-content {


    h2 {
      font-weight: bold;
      font-size: 25px;
      line-height: 38px;
      color: #505e78;
    }

    p {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #505e78;
        width: 40%;
        margin: 15px auto 50px auto;
    }
  }
}
