@import "menu";
@import "banner";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// UTILITIES

body {
  font-family: Arial;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.color-primary {
  color: #589ce8;
}

.font-bold {
  font-weight: bold;
}

.mt-100 {
  margin-top: 100px;
}

.ways-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    min-width: fit-content;
    padding: 15px 40px;
    border-radius: 30px;
    border: 1px solid rgb(97, 169, 246);
    transition: all 0.2s ease 0s;
    color: rgb(88, 156, 232);
    outline: none !important;
    margin-right: 20px;
    margin-top: 45px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px,
        rgba(0, 0, 0, 0.3) 0px 2px 4px -1px;
    }
  }
}

// Access Past Applications Button Background
.btn-bg {
  background: #4798ed !important;
}

// BODY SECTION STYLE
#application {
  text-align: center;

  .application-content {
    h2 {
      font-weight: bold;
      font-size: 25px;
      line-height: 38px;
      color: #505e78;
    }

    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #505e78;
      width: 40%;
      margin: 15px auto 50px auto;
    }

    .app-box {
      display: flex;
      align-items: center;
      justify-content: center;
      // display: flex;
      // justify-content: space-evenly;
      margin-bottom: 80px;

      .box {
        background-color: #589ce8;
        box-shadow: 0px 2px 5px rgba(48, 89, 135, 0.27);
        border-radius: 10px;
        padding: 30px 20px;
        margin: 15px;
        transition: 0.5s;
        width: 200px;

        a {
          color: #fff;
          text-transform: uppercase;
        }

        i {
          font-size: 20px;
        }

        h4 {
          font-size: 14px;
          margin-top: 10px;
        }

        &:hover {
          transform: translateY(-20px);
          background: linear-gradient(102deg, #ffa531 5.44%, #fe7d4a 91.82%);
        }
      }
    }
  }
}

// Information on Each Company Section Style

#information {
  margin-top: 70px;
  position: relative;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(231, 236, 253, 0) 1.24%,
    #e7ecfd 40.17%
  );

  h2 {
    font-size: 20px;
    margin-bottom: 70px;
    line-height: 28px;
    color: #505e78;
  }

  .company {
    // padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding-bottom: 60px;

    div {
      margin-bottom: 70px;
      width: 23%;
      margin-right: 30px;
      padding: 0px 10px;
      height: 140px;
      opacity: 0.5;
      border: 2px solid #589ce8;
      box-sizing: border-box;
      border-radius: 15px;

      img {
        transform: translateY(-25px);
        margin: 0 auto;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 4px 22px rgba(48, 89, 135, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 8px;
      }

      span {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
        font-size: 12px;
        color: #505e78;
        margin-top: 10px;
      }
    }
  }

  .company-count {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    transform: translate3d(-50%, -50%, 0px);
    left: 50%;

    ul {
      background: rgb(255, 255, 255);
      box-shadow: rgba(48, 89, 135, 0.25) 0px 4px 22px;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      padding: 25px 30px;

      img {
        width: 25px;
      }

      h3 {
        font-size: 28px;
        line-height: 25px;
        margin-top: 5px;
        color: rgb(80, 94, 120);
      }

      span {
        margin-top: 5px;
        font-size: 12px;
        color: rgb(80, 94, 120);
      }

      .mid-li {
        border-left: 1px solid #9494ec;
        border-right: 1px solid #9494ec;
        padding: 0 60px;
      }
    }
  }
}

// What We Do Style

#whatToDo {
  margin-top: 160px;

  .todo-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 150px;
    width: 70%;
    margin: 0 auto;

    .text {
      h2 {
        font-size: 23px;
        line-height: 38px;
        margin-bottom: 25px;
        color: #505e78;

        b {
          font-size: 65px;
          font-weight: bold;
          position: absolute;
          color: #e7ecfd;
          left: 12%;
          z-index: -1;
        }
      }
      p {
        color: #505e78;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
      }
    }

    .image {
      width: 350px;
    }
  }
}

// The Problem Style

#theProblem {
  margin-top: 160px;
  // background: url(../images/sbg.png) no-repeat center center/cover;

  .theProblem-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    width: 70%;
    margin: 0 auto;

    .text {
      h2 {
        font-size: 23px;
        line-height: 38px;
        margin-bottom: 25px;
        color: #505e78;

        .number {
          font-size: 65px;
          font-weight: bold;
          position: absolute;
          color: #e7ecfd;
          right: 44%;
          z-index: -1;
        }
      }
      p {
        color: #505e78;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
      }
    }

    .image {
      width: 350px;
    }
  }
}

// How to Access Past Applications Style
#accessApplication {
  background: #e7ecfd;
  text-align: center;

  h3 {
    padding-top: 70px;
    font-size: 25px;
    line-height: 38px;
    color: #505e78;
  }

  .acc-pra {
    color: #505e78;
    font-style: normal;
    font-weight: normal;
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 150%;
    padding: 20px 0px 40px 0px;
  }

  .purchase_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 25px 0px 50px 0px;
    width: 85%;
    margin: 0 auto;

    .purchase-item {
      box-shadow: 0px 3px 15px rgba(48, 89, 135, 0.25);
      border-radius: 10px;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        transform: translateY(-20px);
        transition: 0.5s;
      }

      &:hover .item-top span {
        color: #ffac24;
        transition: all 0.3s ease-in-out;
      }

      .item-top {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-flow: wrap;
        background-color: #5362a7;
        border-radius: 10px 10px 0px 0px;
        // padding-bottom: 20px;
        padding: 50px 0px 20px 0px;

        img {
          position: absolute;
          top: 0;
          height: 66px;
          transform: translateY(-25px);
        }

        span {
          font-weight: bold;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          width: 100%;
          color: #fff;
        }

        .price {
          font-size: 24px;
        }
      }

      .white {
        background: #fff;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 220px;
        position: relative;
        border-radius: 0px 0px 10px 10px;

        p {
          padding: 0px 5px;
          font-size: 14px;
          color: #505e78;
        }

        .btn {
          border-radius: 30px;
          border: 1px solid rgb(85, 212, 128);
          transition: all 0.2s ease-in-out;
          min-width: fit-content;
          background: linear-gradient(
            165.52deg,
            rgb(85, 212, 128) 13.19%,
            rgb(85, 212, 128) 72.85%
          );
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px 3px 3px 30px;
          margin-bottom: 10px;
          color: #fff;
          cursor: pointer;
          font-size: 16px;

          &:hover {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
              rgba(0, 0, 0, 0.12) 0px 1px 10px 0px,
              rgba(0, 0, 0, 0.3) 0px 2px 4px -1px;
          }

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }

  // Karma for free style
  .karma-free {
    text-align: center;
    background: #fff;
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 60px;

    h2 {
      font-size: 25px;
      line-height: 38px;
      color: #505e78;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      line-height: 150%;
      width: 90%;
      padding-bottom: 50px;
      margin: 0 auto;
      color: #505e78;
    }

    .karma-credit {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .credit {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img01 {
          margin-bottom: 0;
          width: 65px;
        }

        img {
          height: 50px;
          margin-bottom: 10px;
        }

        span {
          font-size: 14px;
          line-height: 16px;
          color: rgb(80, 94, 120);
        }
      }
    }

    .bar {
      height: 40px;
      width: 80%;
      margin: 0 auto;
      margin-top: 25px;
      background: #daffe7;
      border-radius: 5px;
      margin-bottom: 90px;
    }

    // Card list
    .card-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 25px 0px 50px 0px;
      width: 90%;
      margin: 0 auto;

      .card-item {
        box-shadow: 0px 3px 15px rgba(48, 89, 135, 0.25);
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
          cursor: pointer;
          transform: translateY(-20px);
          transition: 0.5s;
        }

        .item-top {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          flex-flow: wrap;
          background-color: #5362a7;
          border-radius: 10px 10px 0px 0px;
          // padding-bottom: 20px;
          padding: 50px 0px 20px 0px;

          img {
            position: absolute;
            top: 0;
            height: 66px;
            transform: translateY(-25px);
          }

          span {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 1em;
            margin-top: 0px;
            font-weight: bold;
            color: white;
          }

          .white {
            background: #fff;
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 220px;
            position: relative;
            border-radius: 0px 0px 10px 10px;

          }
        }
      }
    }
  }
}
